


	<br> Welcome,
	<p id="name"></p>
<div id="reimbursements">
	<h2>Riembursements</h2>
     <div class="searchbar" id="search">
	<input type="text" id="myInput" onkeyup="myFunction()"
		placeholder="Search for userId.." title="Type in a name">
	</div>
	<div id="updateRem">
				<table id="remTable" align='center' cellspacing=2 cellpadding=5
			id="data_table" border=1>
			<tr>
				<th>RemId:</th>
				<th>UserId:</th>
				<th>ResolverId:</th>
				<th>SummitDate:</th>
				<th>ResolveDate:</th>
				<th>ResolveNote:</th>
				<th>Status:</th>
				<th>Description:</th>
				<th>Amount:</th>
			<!-- works to edit the whole table -->
			</tr>
		</table>
		<button type="submit" id="someButton" onclick="updateReimburements()" class="btn btn-primary">Update</button>
	</div>

